<!DOCTYPE html>

<html>

	<!-- HEAD -->
	<head>

		<!-- Mobile Debugging -->
		<!--<script src="{{ url_for('static', filename='dependency/hnl.mobileConsole.js') }}"></script>-->

		<!-- Title & Favicon -->
		<meta charset="utf-8">
		<title>COVID-19 Infection Trajectories</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}" />

		<!-- Responsiveness -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0" />

		<!-- Style sheets -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dependency/bootstrap.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dependency/all.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dependency/bootstrap-select.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

		<!-- JS libraries -->
		<script src="{{ url_for('static', filename='dependency/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='dependency/d3.min.js') }}"></script>
		<script src="{{ url_for('static', filename='dependency/topojson.v1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='dependency/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='dependency/bootstrap.min.js') }}"></script>		
		<script src="{{ url_for('static', filename='dependency/textwrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='dependency/bootstrap-select.min.js') }}"></script>
		<script src="{{ url_for('static', filename='dependency/papaparse.min.js') }}"></script>

	</head>


	<!-- BODY -->
	<body>
	
		<div class="container-fluid">
	
			<div class="row rowtop">
				<div class="col" id="viz"></div>
			</div>
	
			<div class="container_temp">
	
			<div id="viz1" >
			</div>

			<div id="viz2" >
			</div>

			<div class="row">
				<div class="col" id = "vizmiddle"></div>
			</div>
	
			<div id="viz3">
			</div>
	
			</div>
	
			<div class="row rowbottom text-wrap">
				<div class="col" id="viz4">
			</div>
	
	
		</div>


	</body>

	<!-- Scripts -->
	    <script>
    var update_date = '{{ update_date }}'
    </script>

	<script type="text/javascript" src="{{ url_for('static', filename='vis.js') }}"></script>

</html>